<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="style/css" href="public/css/style.css">
  <title><%= @celeb_name %></title>
 </head>
 <body>
    <%= @print_celeb_info %>
 </body>
</html>