<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
   <link rel="stylesheet" type="style/css" href="css/style.css">
  <title> Drake </title>
 </head>
 <body>
   <h1> Drake </h1>
<!--    <img id="celeb_pic" src="http://djmag.ca/wp-content/uploads/2015/02/drake-remixes.jpg" style=verticaalign="middle">
   <iframe width="75%" height="450" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/users/1078461&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>
   
  <div><a class="twitter-timeline" href="https://twitter.com/Drake" data-widget-id="626762999680880640" width>Tweets by @Drake</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script></div>
   
   <iframe id="spotify" src="https://embed.spotify.com/?uri=spotify%3Aartist%3A3TVXtAsR1Inumwj472S9r4" width="300" height="380" frameborder="0" allowtransparency="true"></iframe> -->
   
<iframe src="http://snapwidget.com/sc/?u=dGF5bG9yc3dpZnR8aW58MzAwfDN8MTB8fHllc3wyMHxmYWRlT3V0fG9uU3RhcnR8eWVzfHllcw==&ve=300715" title="Instagram Widget" class="snapwidget-widget" allowTransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden; width:100%; height:300px"></iframe>
 
 </body>
</html>