<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
   <link rel="stylesheet" type="style/css" href="css/style.css">
   <link rel="stylesheet" href="animate.min.css">
  <title> Home </title>
 </head>
 <body>
   <h1 class="animated zoomOutUp">TITLE</h1>
   <p> Choose a celebrity </p>
   <form method = 'POST' action='/celeb_page'>
   <input type='text' name="person">
   <input type = submit>
   </form>
<a href="drake">Drake</a>
<a href="taylor_swift">Taylor Swift</a>
   
 </body>
</html>