<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
   <link rel="stylesheet" type="style/css" href="css/style.css">
   <link rel="stylesheet" href="animate.min.css">
  <title> Home </title>
 </head>
 <body>
   <h1 class="animated zoomOutUp">TITLE</h1>
   <p> Choose a celebrity </p>
   <form method = 'POST' action='/celeb_page'>
   <input type='text' name="person">
   <input type = submit>
   </form>
<<<<<<< HEAD
<a href="drake">Drake</a>
<a href="taylor_swift">Taylor Swift</a>
   
=======
<a href="drake"><img src="http://ecx.images-amazon.com/images/I/5166i3PHK-L.jpg"></a>
<a href="taylor_swift"><img src="http://static.dnaindia.com/sites/default/files/2015/06/13/346022-308376-taylor-swift-getty-images.jpg"></a>
  <div id="circle"></div> 
>>>>>>> 93690710de160a95bc8df6155e8ef216b538aaad
 </body>
</html>