<!DOCTYPE html>
<html>
 <head>
   <meta charset="UTF-8">
   <link rel="stylesheet" type="style/css" href="css/style.css">
   <title>Celebsmash</title>
   <link rel="shortcut icon" href="http://www.mubs.edu.lb/assets/templates/rev/img/instagram-256.png">
 </head>
 <body>
   <div class="page-content">
     <div class="title">
       <h2>Celebsmash</h2>
     </div>
     <form method='POST' action='/celeb_page'>
       <div class="container">
         <h1 class="input-header">Enter the name of the celebrity you'd like to view.</h1>
          <h1 class="input-header">Or just click on their picture!</h1>
         <div class="input-group">
           <input class="fancy-input" type="text" name="person" placeholder="Celeb Name">
           <button class="fancy-btn" type="submit">Submit</button>
         </div>
       </div>
     </form>
     </div>
   <form method='POST' action='/celeb_page'>
     <div class = "celeb_pics">

       <div class = "photo_container">
         <div id="drake" class ="photo">
           <h1>Drake</h1>
           <input class="btn" type="image" name="drake">
         </div>


         <div id="tswift" class ="photo">
           <h1>Taylor<br>Swift</h1>
           <input class="btn" type="image" name="taylorswift">
         </div>
       </div>

       <div class = "photo_container">
         <div id="beyonce" class ="photo">
           <h1>Beyoncé</h1>
           <input class="btn" type="image" name="beyonce">
         </div>

         <div id="rihanna" class ="photo">
           <h1>Rihanna</h1>
           <input class="btn" type="image" name="rihanna">
         </div>
       </div>

       <div class = "photo_container">
         <div id="chance" class ="photo">
           <h1>Chance<br>the Rapper</h1>
           <input class="btn" type="image" name="chancetherapper">
         </div>

         <div id="lorde" class ="photo">
           <h1>Lorde</h1>
           <input class="btn" type="image" name="lorde">
         </div>
       </div>

       <div class = "photo_container">
         <div id="jcole" class ="photo">
           <h1>J. Cole</h1>
           <input class="btn" type="image" name="jcole">
         </div>

         <div id="kanye" class ="photo">
           <h1>Kanye<br>West</h1>
           <input class="btn" type="image" name="kanyewest">
         </div>
       </div>

       <div class = "photo_container">
         <div id="big_sean" class ="photo">
           <h1>Big<br>Sean</h1>
           <input class="btn" type="image" name="bigsean">
         </div>

         <div id="ariana_grande" class ="photo">
           <h1>Ariana<br>Grande</h1>
           <input class="btn" type="image" name="arianagrande">
         </div>
     </div>
     
   </div>
   </form>  
 </body>
</html>