<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
   <link rel="stylesheet" type="style/css" href="css/style.css">
  <title> Taylor Swift </title>
 </head>
 <body>
   <h1> Taylor Swift </h1>
   
   <img id="tswift" src="http://static.guim.co.uk/sys-images/Guardian/Pix/pictures/2014/8/21/1408618840671/18839f21-608b-4acd-a2aa-a944db3e15e7-2060x1236.jpeg">
 
 </body>
</html>