h1 {
  text-align: center;
  animated:
}

#drake {
  margin-left: auto;
  margin-right: auto;
  display: block;
  opacity: .7;
   width: 1000px;
    height: 600px;
    -webkit-border-radius: 1000px;
    -moz-border-radius: 600px;
    border-radius: 50%;

}

#tswift {
  margin-left: auto;
  margin-right: auto;
  display: block;
  opacity: .7;
  width: 90%;
   width: 1000px;
    height: 600px;
    -webkit-border-radius: 1000px;
    -moz-border-radius: 600px;
    border-radius: 50%;
}

iframe {
  margin-left: 200px;
  margin-right: auto;
  display: block;
}
.twitter-timeline {
  display: inline-block;
}
div {
  margin-left: auto;
  margin-right: auto;
  display: block;
}
#spotify {
  margin-top: 100px;
  margin-bottom: auto;
  margin-right: 400px;
  margin-left: auto;
  display: inline-block;
  float: right;
}


img {
 width: 150px;
 height: 150px;
 -webkit-border-radius: 150px;
 -moz-border-radius: 150px;
 border-radius: 150px;;
}
