body {
  background-image: url("https://s-media-cache-ak0.pinimg.com/originals/fc/a9/c3/fca9c34e5757c544c6ede8d9b82a86b2.jpg");
  background-color: #cccccc;
  text-align: center;
  font-family: arial;
}

form {
    display: inline-block;
    text-align: center;
}

.page-content {
  margin-top: 100px;
}

.container {
  margin-top: 60px;
}

.input-group {
  margin-top: 40px;
}

.input-header {
  font-size: 35px;
  color: white;
  text-align: center;
}
.photo_container{
  margin: 0 auto;
  float:left;
}
.photo {
  padding: 45px;
  
}
h1 {
  font-size: 25px;
  color: white;
}
.fancy-input {
  width: 300px;
  height: auto;
  padding: 10px;
  border-radius: 15px;
  font-size: 25px;
}

.fancy-btn {
  height: auto;
  font-size: 25px;
  padding: 10px;
  color: white;
  background-color: grey;
  border-radius: 15px;
}

.fancy-btn:hover {
  cursor: pointer;
}

.title {
  text-align: center;
  font-family: arial;
  font-size: 50px;
  color: white;
  border-style: solid;
  border-color: white;
  border-width: 5px;
  background-color:rgba(0,0,0,.65);
  opacity: .7;
  border-radius: 25px;
  width: 70%;
  height: 10%;
}

.website {
  color: white;
  text-align: center;
  font-size: 40px;
}

a {
  width: 40%;
  text-decoration:none;
  border-radius: 15px;
  border-style: solid;
  border-color: rgba(255,255,255,.6);
  border-width: 5px;
  background-color:rgba(0,0,0,.65);
  padding: 10px;
  overflow: hidden;
}

a:hover {
  font-size: 41px;
  border-color: black;
}

a:visited {
  color: white;
}

#celeb_pic {
  margin-left: auto;
  margin-right: auto;
  display: block;
  opacity: .6;
  width: 1000px;
  height: 600px;
  -webkit-border-radius: 1000px;
  -moz-border-radius: 600px;
  border-radius: 50%;
  border-style: solid;
  border-color: rgba(255,255,255,.6);
  border-width: 5px;
}

.right{
  float:right;
  margin-right: 50px;
}

.left{
  float:left;
  margin-left: 50px; 
}

div {
  margin-right: auto;
  margin-left: auto
}

img {
 width: 148px;
 height: 148px;
 -webkit-border-radius: 150px;
 -moz-border-radius: 150px;
 border-radius: 150px;
  opacity: .5;
  border-style: solid;
  border-color: rgba(255,255,255,.6);
  border-width: 1px;
} 
img:hover {
  width: 142px;
 height: 142px;
 -webkit-border-radius: 150px;
 -moz-border-radius: 150px;
 border-radius: 150px;
  opacity: 1;
  border-style: solid;
  border-color: rgba(255,255,255,.6);
  border-width: 4px;
  cursor: pointer;
}

.celeb_pics {
  display: inline-block;
}


